---
author: Alessandro Sebastianelli
title: QML4EO Slides | Overview
description: Slides deck about uantum Computing & Quantum Machine Learning for Earth Observation by A. Sebastianelli
design: black
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <!-- <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a> -->
    <div class="reveal">
      <div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
          <script type="text/template">
            ## Quantum Computing & Quantum Machine Learning for Earth Observation
            by Alessandro Sebastianelli 
            
            <br>

            [Module 1](/qc4eo-slides/module1) ~ [Module 2](/qc4eo-slides/module2) ~ [Module 3](/qc4eo-slides/module3) ~ [Module 4](/qc4eo-slides/module4) ~ [Module 5](/qc4eo-slides/module5)
            
            <br>

            [Contacts](/qc4eo-slides/contacts) 
            
            <br>
            <br>

            <!-- Also feel free to check out my [github](https://github.com/alessandrosebastianelli/) or [website](https://alessandrosebastianelli.github.io) :)
            -->
          </script>
        </section>
        {{ content }}
      </div>
    </div>
    {% include script.html %}
  </body>
</html>
