---
author: Alessandro Sebastianelli
title: QC4EO Slides | Overview
description: Slides deck about quantum computing for earth obsevation by A. Sebastianelli
design: black
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <!-- <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a> -->
    <div class="reveal">
      <div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
          <script type="text/template">
            # Quantum Computing for Earth Observation
            by Alessandro Sebastianelli

            <br>

            [Theory Pills](/qc4eo-slides/theory) ~ [Use Cases](/qc4eo-slides/usecases) ~ [Tutorials](/qc4eo-slides/tutorials)
            
            <br>
            [Contacts](/qc4eo-slides/theory) 
            
            <br>
            <br>

            Also feel free to check out my [github](https://github.com/alessandrosebastianelli/) or [website](https://alessandrosebastianelli.github.io) :)
          </script>
        </section>
        {{ content }}
      </div>
    </div>
    {% include script.html %}
  </body>
</html>
